<div class="container">

<h5 class="text-center text-light bg-secondary mb-3 mt-3">{{article.dataValues.title}}</h5>
  <p>{{article.dataValues.content}}</p>

  
<h5 class="text-center text-light bg-secondary mb-3">Comments</h5>

  <div class="row">
    {{#each comments}}
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header" style="position: relative;">
          <h4>
            <a href="/comments/{{this.dataValues.id}}/edit">{{this.dataValues.comment}}</a>
            <small class="text-muted" style="position: absolute; right: 0; font-size: 14px;">
              Posted by {{this.dataValues.user.dataValues.username}} on {{moment this.dataValues.createdAt format="DD/MM/YYYY"}}
              <a href="/comments/{{this.dataValues.id}}/delete" class="text-danger ml-2 mr-3" onclick="return confirm('Are you sure you want to delete this article?')">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </small>
          </h4>

        </div>
      </div>
    </div>
    {{/each}}
  </div>    


  <form action="/comments/{{article.dataValues.id}}/create" method="POST">
    <div class="form-group">
<h5 class="text-center text-light bg-secondary mb-3 mt-3">Add Comment</h5>
      
      <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit Comment</button>
  </form>
</div>
